# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Base de données
edupaie.db
edupaie.db-journal

# Logs
edupaie_errors.log

# PyInstaller
build/
dist/
*.spec

# PDF générés
recus/
*.pdf

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db